# WiFi Client
wifi_ssid: "YourWiFiSSID"
wifi_pass: "YourWiFiPassword"

# WiFi AccessPoint (fallback)
wifi_ap_pass: "CDC_Badge_Fallb4ck"

# OTA
ota_key: "your-ota-key"

# Home Assistant API encryption
hass_key: "your-hass-api-key"
