# WiFi Client
wifi_ssid: "YourWiFiSSID"
wifi_pass: "YourWiFiPassword"

# WiFi AccessPoint (fallback)
wifi_ap_ssid: "CDC_Badge"
wifi_ap_pass: "CDC_Badge_Fallb4ck"

# OTA
ota_key: "cdc_badge_ota_secret_333999666"

# Home Assistant API encryption (https://esphome.io/components/api/#configuration-variables)
hass_key: ""
